
html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: 'Helvetica Neue', 'sans-serif';
  background: rgb(52, 66, 158);
  overflow: hidden;
  display: block;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


